<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>LMIAAA</title>
    <meta content="" name="description">

    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="static/img/icon.png" rel="icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="static/vendor/aos/aos.css" rel="stylesheet">
    <link href="static/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="static/css/style.css" rel="stylesheet">

    <!-- =======================================================
  * Template Name: FlexStart - v1.7.0
  * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>


    <style>


        .card {
            text-align: justify;
            margin: 2rem 4rem;
        }

        .card-header {
            font-weight: bold;
        }
    </style>

</head>

<body style="margin-top: 1rem;">

   <a href="/"> <img style="display: block; height: 100px; width: 350px; margin: 0 auto;" src="static/img/LMIA3 (4).png" alt=""></a>



    <div id="sidy" class="card" style="margin-top: 5vh;">
        <div class="card-header">
            Sidy Danioko
        </div>
        <div class="card-body">
            <p class="card-text">
                Sidy Danioko est un citoyen malien vivant en Californie, aux États-Unis, où il a obtenu son doctorat en
                sciences informatiques et des données. Avant cela, Sidy a terminé son master en mathématiques, en
                physique, en science des matériaux, et en ingénierie financière. De plus, Sidy poursuit actuellement un
                master en intelligence artificielle par correspondance dans une université de l’Irlande. Sidy
                s'intéresse depuis longtemps et profondément à la science des données, aux statistiques mathématiques et
                appliquées, à l'inférence causale biostatistique, à l'apprentissage automatique statistique, à la
                finance quantitative, aux processus stochastiques, à l'apprentissage automatique et à ses applications
                en (économie, finance, médecine, physique et sciences sociales). Sidy aimerait toujours utiliser les
                nombreuses compétences quantitatives et informatiques qu'il a accumulées au fil des ans pour faire face
                à des défis stimulants liés à un éventail de domaines d'études.
                <br> <br style="display: block; content: ''; margin-top: 7px;" ;>
                En perspective, Sidy se voit plonger
                dans le domaine des neurosciences computationnelles car il a un fort désir de comprendre les différents
                facteurs impliqués dans la prise de décision, principalement économiques et financières. Son intérêt
                pour les neurosciences cognitives n'est pas tout à fait récent. Il est né non seulement d'une curiosité
                de toute une vie de comprendre comment fonctionne la machinerie derrière le processus de prise de
                décision humaine, mais aussi de la curiosité d'étudier ce qui motive nos choix et nos actions.

            </p>
        </div>
    </div>


    <div id="bourama" class="card">
        <div class="card-header">
            Bourama Doumbia
        </div>
        <div class="card-body">
            <p class="card-text">
                Spécialiste en leadership de la résilience aux catastrophes, gestionnaire de formation, homme politique,
                écologiste. Initiateur du CODE X : Technique de codification numérique de l'espace et du temps en lien
                avec les caractéristiques de l'élément étudie, le tout représenté dans un tableau en ligne et en
                colonne.
            </p>
        </div>
    </div>

    <div id="hadeye" class="card">
        <div class="card-header">
            Hadèye Maiga
        </div>
        <div class="card-body">
            <p class="card-text">
                Détentrice d’un MBA en Big Data, d’une Maîtrise en Mathématiques Appliquées et d’un ingéniorat en
                Réseaux et Télécommunication, l’élue du jour Hadeye Maiga est non seulement un exemple de réussite des
                femmes maliennes dans le domaine scientifique mais également une humanitaire passionnée. Hadèye est
                Présidente de l’Association “Yellen Africa”, une organisation qui lutte pour l’éducation des filles au
                Mali. Dans le cadre de son projet Sini Mousow (Les femmes de demain), près de 200 lycéennes sont
                soutenues à travers des formations en leadership. Par cet acte, Sini Mousow vise à créer une nouvelle
                génération de femmes éduquées, impliquées et actives dans le développement de leur communauté. Sous son
                leadership, Yellen Africa a organisé une campagne en collaboration avec plusieurs organisations de la
                société civile, pour exprimer leur solidarité avec les centaines de lycéennes nigérianes enlevés par
                Boko Baram. En 2015, Hadeye a été sélectionnée parmi 500 jeunes leaders africains pour participer au
                programme de leadership YALI du président Barack Obama. Auparavant, en 2013, elle a été reconnue parmi
                les 25 meilleures jeunes femmes leaders d’Afrique par Moremi Initiative, un organisme à but non lucratif
                qui opère dans toute l'Afrique.
                <br> <br style="display: block; content: ''; margin-top: 7px;" ;>
                Au cours de ces 15 dernières années, Hadeye s’est beaucoup impliquée dans l’humanitaire, surtout pendant
                l’occupation du nord. Elle s’est aussi illustrée dans la promotion des droits des femmes, l’accès aux
                Technologies de l’Information et de la Communication (TIC) et l’éducation des filles.

            </p>
        </div>
    </div>


    <div id="ali" class="card">
        <div class="card-header">
            Ali Traore
        </div>
        <div class="card-body">
            <p class="card-text">
                Je suis Ali Traore, né à Kolondieba. Je suis mathématicien avec pour domaine de compétences Géométrie
                Algébrique spécialement computer algebra.
                <br> Je suis en ce moment étudiant en PhD à l'université de Kaiserslautern Germany.
            </p>
        </div>
    </div>


    <div id="hamidou" class="card">
        <div class="card-header">
            Hamidou Tembine
        </div>
        <div class="card-body">
            <p class="card-text">
                Un étudiant de l'X parmi les meilleurs chercheurs africains Hamidou Tembine est titulaire d'un Master de
                l'École Polytechnique, il fait partie des vingt lauréats du Next Einstein Forum , un événement qui
                récompense les meilleurs espoirs de la recherche scientifique africaine.la 2ème édition s'est tenue du
                26 au 28 mars 2018 à Kigali au Rwanda. Après avoir obtenu une maîtrise en mathématiques appliquées et
                économie à l'X, puis un doctorat en informatique à l'université d'Avignon, Hamidou Tembine dirige
                aujourd'hui le Learning and Game Theory Laboratoire de l'université de New York. L’informaticien malien
                travaille sur la prise de décision stratégique dans les domaines de l'énergie, des réseaux informatiques
                et des systèmes de transport. Il vient d'être distingué par le Next Einstein Forum (NEF), un événement
                international organisé tous les deux ans depuis 2016 par l'Institut panafricain des sciences
                mathématiques et dédié aux jeunes chercheurs africains les plus prometteurs. Hamidou Tembine fait partie
                des 20 lauréats de cette deuxième édition du NEF qui distingue des candidats de moins de 42 ans
                sélectionnés par un comité scientifique international composé de 70 experts.

            </p>
        </div>
    </div>


    <div id="ibraheem" class="card">
        <div class="card-header">
            Ibraheem El Ansari
        </div>
        <div class="card-body">
            <p class="card-text">
                Ibraheem El Ansari est un jeune diplômé marocain d’origine Touareg, travaillant comme Full stack Data
                scientist à Casablanca. Il a obtenu sa licence en économie appliquée en 2019 à la faculté de sciences
                juridiques, économiques et sociales à Rabat. Après avoir été exposé aux différents types de modélisation
                en sciences sociales, Ibraheem a décidé de donner libre cours à sa passion en poursuivant un Master en
                Analyse économique et modélisation dans la même faculté.
                <br> <br style="display: block; content: ''; margin-top: 7px;" ;>
                Aujourd’hui, Ibraheem aide les entreprises et les responsables à travers le développement des
                applications web pour tirer le maximum de données disponibles. L'une de ses principales réalisations est
                la création d’un outil utilisé aujourd’hui par le ministère d’agriculture au Maroc pour faciliter les
                études maraîchères et les inférences statistiques. Il s'est assuré d'utiliser cette application dans sa
                région d’enfance pour soutenir son potentiel agricole et améliorer la situation de sa communauté.

            </p>
        </div>
    </div>



    <div id="abdoulaye" class="card">
        <div class="card-header">
            Abdoulaye Diarra
        </div>
        <div class="card-body">
            <p class="card-text">
                Abdoulaye Diarra, Consultant expert en intelligence d’affaire.
                M. DIARRA détient une Maitrise et un DESS en stratégie de l’intelligence d’affaire de l’université de
                Sherbrooke, un certificat en Gestion de projet de HEC Montréal.
                <br> Il détient plus de 20 ans d’expérience en TI. Depuis 2015, il est consultant en intelligence
                d’affaire, implantation de solution dans les domaines suivants : financier, bancaire et les PME/PMI.
                <br> Mr Diarra est aussi Chargé de cours en gestion de projet TI, et accompagnement en milieu de travail
                au Cegep de Drummondville au Canada.
                <br> Il est également consultant du programme Tokten pour lequel il a effectué plusieurs missions de
                formation et d’accompagnement au près des structures maliennes.

            </p>
        </div>
    </div>





    <div id="amadou" class="card">
        <div class="card-header">
            Amadou Ambaga Djiguiba
        </div>
        <div class="card-body">
            <p class="card-text">
                Je suis Amadou Ambaga  Djiguiba, né à Markala.  Je suis  Ingénieur en électronique embarque et Automatisme industrielle . 
               <br> Actuellement sur sa thèse d'ingénieur à L'ENI, "Système d'identification faciale cas de commande d' une porte".
               

            </p>
        </div>
    </div>

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="container">
            <div class="copyright">
                &copy; Copyright <script>document.write(new Date().getFullYear())</script>
                <br> <strong><span>Laboratoire Malien d'intelligence artificielle et d'apprentissage automatique</span></strong>. <br> Tous droits réservés
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="static/vendor/aos/aos.js"></script>
    <script src="static/vendor/php-email-form/validate.js"></script>
    <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="static/vendor/purecounter/purecounter.js"></script>
    <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="static/vendor/glightbox/js/glightbox.min.js"></script>

    <!-- Template Main JS File -->
    <script src="static/js/main.js"></script>

</body>

</html>